body {
    background-color: #c0c0c0;
    font-family: Arial;
    font-size: 15px;
    padding: 2m;
}
h1 {
    font-family: Arial;
    color: #64645a;
    margin: 1em;
    /* padding: 1.1em; */

}
.head-div {
    border: 1px solid black;
    background-color: #e0e0e0;
    height: 10em;
    margin: 1em 0em;
}
.wrap-div {
    border: 1px solid black;
    border: black;
    height: 100%;
    width: 100%;

}
.body-div {
    border: 1px solid black;
    border: black;
    color: white;
    margin: 0em 0em;

}